@import '~assets/scss/variables';

.cardFeed {
    position: relative;

    display: flex;

    padding-right: 50px;
    padding-left: 50px;

    align-items: center;
    flex: 1;
    flex-flow: row wrap;

    .addButton {
        position: fixed;
        right: 30px;
        bottom: 30px;

        display: flex;

        width: 60px;
        height: 60px;

        cursor: pointer;
        transition: background-color 0.3s;

        border-radius: 50%;
        background-color: #545454;
        box-shadow: 2px 2px 4px 0 rgba(50, 50, 50, 0.5);

        align-items: center;
        justify-content: center;

        .plusSign {
            width: 25px;
            height: 25px;

            fill: white;
        }

        &:hover {
            background-color: darken(#545454, 10);
        }
    }
}
