.cardFeed {
    display: flex;
    align-items: center;
    //justify-content: space-around;
    flex-flow: row wrap;
    flex: 1;
    //padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;

    :hover {
        background-color: #cacaca;
        cursor: pointer;
    }

}
