.spinnerWrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 21; // should be more than modal

    .spinner {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
}
