.article {
    position: relative;

    width: 1000px;
    margin: auto;
    padding: 10px;

    text-align: justify;

    background-color: #ededed;

    img {
        display: block;

        max-width: 500px;
        max-height: 500px;
        margin: 0 auto;
        padding: 10px 10px 10px 10px;
    }

    p {
        padding: 10px 50px 10px 50px;

        color: #545454;
    }

    h1 {
        font-size: 30px;
        line-height: 30px;

        padding: 10px 10px 10px 10px;

        text-align: center;
    }

    .footerArticle {
        font-style: italic;

        display: flex;

        padding: 10px 10px 10px 10px;

        align-items: baseline;
        flex: 1;
        flex-flow: row wrap;
        justify-content: space-between;

        .username {
            position: absolute;
            bottom: 0;
            left: 0;

            padding: 10px 50px 10px 50px;
        }
        .createdAt {
            position: absolute;
            right: 0;
            bottom: 0;

            padding: 10px 50px 10px 50px;
        }
    }
}
