.article {
    margin: 10px 5px 10px 5px;
    height: 400px;
    width: 400px;
    position: relative;
    background-color: #ededed;

    h1 {
        font-size: 30px;
        line-height: 30px;
        padding: 10px 10px 10px 10px;
        text-align: center;
    }
    img {
        max-width: 300px;
        max-height: 200px;
        display: block;
        margin: 0 auto;
        padding: 10px 10px 10px 10px;
    }
    p {
        color: #545454;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px 50px 10px 50px;
    }
    .footerArticle {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        flex-flow: row wrap;
        flex: 1;
        padding: 10px 10px 10px 10px;
        font-style: italic;

        .username {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 10px 10px 10px 10px;
        }
        .createdAt {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 10px 10px 10px 10px;
        }
    }
}

.article:hover {
    cursor: pointer;
}
