.article {
    position: relative;

    width: 400px;
    height: 400px;
    margin: 10px 5px 10px 5px;

    background-color: #ededed;

    h1 {
        font-size: 30px;
        line-height: 30px;

        padding: 10px 10px 10px 10px;

        text-align: center;
    }
    img {
        display: block;

        max-width: 300px;
        max-height: 200px;
        margin: 0 auto;
        padding: 10px 10px 10px 10px;
    }
    p {
        overflow: hidden;

        padding: 10px 50px 10px 50px;

        white-space: nowrap;
        text-overflow: ellipsis;

        color: #545454;
    }
    .footerArticle {
        font-style: italic;

        display: flex;

        padding: 10px 10px 10px 10px;

        align-items: baseline;
        flex: 1;
        flex-flow: row wrap;
        justify-content: space-between;

        .username {
            position: absolute;
            bottom: 0;
            left: 0;

            padding: 10px 10px 10px 10px;
        }
        .createdAt {
            position: absolute;
            right: 0;
            bottom: 0;

            padding: 10px 10px 10px 10px;
        }
    }
}

.article:hover {
    cursor: pointer;

    background-color: #cacaca;
}
