.navbar {
    display: flex;

    padding: 10px 10px 10px 10px;

    color: whitesmoke;
    border-bottom: 1px solid black;
    background-color: #545454;

    align-items: center;
    justify-content: space-around;
    h1 {
        color: whitesmoke;
    }
    h1:hover {
        color: #cacaca;
    }
}
