.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #545454;
    border-bottom: 1px solid black;
    color: whitesmoke;
    padding: 10px 10px 10px 10px;
    h1 {
        color: whitesmoke;
    }
    h1:hover {
        color: #cacaca;
    }

}
