@import '~assets/scss/variables';

.navbar {
    margin-bottom: 20px;

    background-color: $primary;

    img {
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }

    a,
    li {
        color: white;
    }

    ul {
        flex-direction: row;

        li {
            margin: 0 10px 0 10px;
        }

        .userName {
            font-size: $font-size-sm;

            align-self: center;
        }
    }
}
