.registerForm {
    display: flex;
    flex-direction: column;

    padding: 10px 10px 10px 10px;

    align-items: center;
    justify-content: space-around;

    .usernameDate {
        align-items: right;
    }
}
p {
    text-align: center;

    color: #cacaca;
}
p:hover {
    color: #545454;
}
