.article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px 40px 20px;

    .subTitle {
        font-weight: lighter;
        font-style: italic;

        display: flex;

        flex-flow: row nowrap;
        justify-content: flex-end;
    }

    img {
        width: 100%;
        margin: 10px 0 40px 0;
    }
}
