.loginForm {
    display: flex;
    flex-direction: column;

    padding: 10px 10px 10px 10px;

    align-items: center;
    justify-content: space-around;
}
.redirectRegister {
    text-align: center;
    p {
        color: #cacaca;
        :hover {
            color: #545454;
        }
    }
}
